<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent_category.name %>
</p>

<%= link_to 'Edit', edit_parent_category_path(@parent_category) %> |
<%= link_to 'Back', parent_categories_path %>
